<!-- Navigation Bar -->
<nav row class="navbar navbar-default" role="navigation">
  <div class="navbar-header col-xs-12">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><h4><a href="#">Sassy Captions</a></h4></li>
    </ul>
    <ul class="nav navbar-nav navbar-center">
        <li><a href="quotes">All Quotes</a></li>
        <li><a href="newquote">Create Quotes</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</nav>

<!-- Start of Form -->

<form>
  <!-- <p style="color: white;">{{ $ctrl }}<p> -->
  <div class="form-group create-quote-section" ng-class="create-quotes-div">
    <label class="insert-quote-div" for="formGroupExampleInput"><h3>Create A Quote</h3></label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Create a quote here" ng-model="$ctrl.createCaptionContent">
  </div>

  <div class="form-group create-author-div">
    <label class="insert-quote-div" for="formGroupExampleInput"><h3>Add Author</h3></label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Insert Author" ng-model="$ctrl.createAuthor">
  </div>

  <div><h3>Category</h3></div>
  <select ng-model="$ctrl.chooseCategory">
    <option>Faith</option>
    <option>Family</option>
    <option>Friendship</option>
    <option>Fun</option>
  </select>
  <br>
  <br>
  <br>
  <button type="button" class="btn" onclick="/quotes" ng-click="$ctrl.createQuote()">Submit</button>

</form>

<!-- end of Form  -->

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<!-- footer -->
 <div class="panel-default">
  <div class="panel-body">
  </div>
  <div class="panel-footer">Contact Us</div>
</div>
