
<!-- ANGULARIZE IT -->

<div>
  <h1 id="title-quotes">QUOTE PAGE</h1>

  <main>
    <select
      ng-model="$ctrl.filterBy"
      ng-init="$ctrl.filterBy = 'all-quotes'"
    >
      <option selected="selected" value="all-quotes">All Quotes</option>
      <option value="Fun">Fun</option>
      <option value="Family">Family</option>
      <option value="Faith">Faith</option>
      <option value="Friendship">Friendship</option>
    </select>
    <a title="test" style="height: 380px; width:380px;"></a>
    <a ng-repeat="quote in $ctrl.quotes" href="#" title="Post 1" ng-show="quote.name == $ctrl.filterBy || $ctrl.filterBy == 'all-quotes'">
      <article>
        <p>{{quote.caption}}</p>
        <figure>
          <img src="https://placehold.it/480x360" alt="image-1">
          <figcaption>{{quote.author}}</figcaption>
          <p>{{quote.name}}</p>
          <p ng-click="$ctrl.upVote(quote)">⬆️</p>
          <p>{{quote.popularity}}</p>
          <p ng-click="$ctrl.downVote(quote)">⬇️</p>
          <button class="btn" ngclipboard data-clipboard-text="{{quote.caption}}">Copy Quote</button>

          <button ng-click="$ctrl.setCommentDisplay(quote.id)">View Comments</button>
          TESTING {{quote.id}}
          <comments quoteid="quote.id" comments="quote.comments"></comments>
          <p="$ctrl.showComments(id)"></p>

          <!-- <form action="/movies/{{this.id}}?_method=DELETE" method="POST"> -->
            <input ng-click="$ctrl.deleteQuote(quote)" class="btn btn-sm btn-secondary"
            type="submit"
            name="delete"
            value="Delete Quote">
          <!-- </form> -->
      </article>
    </a>
  </main>

</div>
