<html>
<!-- Navigation Bar -->
<nav row class="navbar navbar-default" role="navigation">
  <div class="navbar-header col-xs-12">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><h4><a href="#">Sassy Captions</a></h4></li>
    </ul>
    <ul class="nav navbar-nav navbar-center">
        <li><a href="quotes">All Quotes</a></li>
        <li><a href="newquote">Create Quotes</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</nav>
<!-- Navigation Bar -->
<!-- Parallax attempt -->
<div class="parallax">
  <div class="parallax-border">
    <span class="parralax-caption">All Quotes</span>
  </div>
</div>


<div style="height: 400px;background-color:#FF86C2; font-size:36px">
Gluten-free humblebrag next level, four loko viral 90's microdosing austin godard vinyl iceland slow-carb sriracha man bun asymmetrical. Shabby chic tumeric drinking vinegar meggings pok pok try-hard. Art party DIY tumblr, bespoke disrupt XOXO subway tile hammock stumptown hell of single-origin coffee. IPhone viral distillery adaptogen poke. Vexillologist heirloom synth green juice listicle.
</div>

<div class="parallax"></div>

<br>
<br>
<div class="parallax-border-categories">
  <span class="parralax-caption-categories">Categories</span>
</div>

<br>
<br>

<!-- ANGULARIZE IT -->



<div class="faith-card category-container col-xs-3">
<h1 style="font-family:courier">Faith</h1>
</div>

<div class="family-card category-container col-xs-3">
<h1 style="font-family:courier">Family</h1>
</div>

<div class="fun-card category-container col-xs-3">
<h1 style="font-family:courier">Fun</h1>
</div>

<div class="friendship-card category-container col-xs-3">
<h1 style="font-family:courier">Friendship</h1>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="col-xs-12">
  <h1 class="create-a-quote">
    <a href="/newquote">Create A Quote</a>
  </h1>
</div>


<!-- Parallax attempt PART 2-->
<div class="parallax-selfie">
  <div class="parallax-border-selfie">
  </div>
</div>


<div style="height: 200px;background-color:#FF86C2; font-size:36px">
Gluten-free humblebrag next level, four loko viral 90's microdosing austin godard vinyl iceland slow-carb sriracha man bun asymmetrical. Shabby chic tumeric drinking vinegar meggings pok pok try-hard. Art party DIY tumblr, bespoke disrupt
</div>





  <main>
    <select class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
      ng-model="$ctrl.filterBy"
      ng-init="$ctrl.filterBy = 'all-quotes'"
    >
      <option selected="selected" value="all-quotes">All Quotes</option>
      <option value="Fun">Fun</option>
      <option value="Family">Family</option>
      <option value="Faith">Faith</option>
      <option value="Friendship">Friendship</option>
    </select>

    <br>
    <br>
    <br>

    <!-- can track by index if % 3 change the background (make CSS class make it whatever it needs to be. Ng-class can make a coniditional with the class and have it later add or remove depending on the rules i set) -->
     <a class="quote-backgrounds-box" ng-repeat="quote in $ctrl.quotes" ng-style="{'background-image': 'url(https://s-media-cache-ak0.pinimg.com/564x/49/22/87/49228752cabbef2f1d1e930fe6b51e01.jpg)'}" href="#" title="Post 1" ng-show="quote.name == $ctrl.filterBy || $ctrl.filterBy == 'all-quotes'">
      <article>
        <p class="quote-caption">{{quote.caption}}</p>
        <figure>
          <br>
          <figcaption class="author-quote">- {{quote.author}}</figcaption>
          <p class="category-quote">{{quote.name}}</p>
          <div class="up-down-vote">
            <p ng-click="$ctrl.upVote(quote)">⬆️</p>
            <p>{{quote.popularity}}</p>
            <p ng-click="$ctrl.downVote(quote)">⬇️</p>
          </div>
          <button class="btn copy-quote" ngclipboard data-clipboard-text="{{quote.caption}}">Copy Quote</button>

          <div>
            <button type="button" ng-click="onClick = true" aria-label="Toggle ngShow" class="slider">View Comments</button>
            <br>
              <div class="animate-show-hide" ng-show="onClick">
              <p ng-click="$ctrl.setCommentDisplay(quote.id)"></p>

              <comments quoteid="quote.id" comments="quote.comments"></comments>
              <p="$ctrl.showComments(id)"></p>
              </div>
            </div>

          <!-- <form action="/movies/{{this.id}}?_method=DELETE" method="POST"> -->
          <br>
            <input ng-click="$ctrl.deleteQuote(quote)" class="btn delete-button btn-sm btn-secondary"
            type="submit"
            name="delete"
            value="Delete Quote">
          </form>
      </article>
    </a>
  </main>

</div>

<!-- footer -->
<div class="panel-default">
  <div class="panel-body">
  </div>
  <div class="panel-footer">Contact Us</div>
</div>
</html>
