@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}
.responsiveslides {
    position: relative;
    width: 980px;
    overflow: hidden;
    margin: 0 auto;
}

.responsiveslides-wrap {
    background: #fff1ee;
    width: 100%;
    padding: 40px 0;
}

.responsiveslides-wrap {
    background-image: url('../backgrounds/bonus/watercolor1.jpg');
    background-position: center;
    background-size: cover;
}

#landing-page-slogan{
  text-align: center;
}

.slogan2{
  text-align: center;
}

.why-sassy-captions{
  border: solid;
  text-align: center;
  background-color: #FFD6D0;
}

.why-sassy-captions-paragraph{
  text-align: center;
  font-size: 2rem;
  /*width: 40em;
  padding: inherit;
  border-radius: 1em;
  margin-left: 0px;
    overflow:auto;*/


}

.sqs-block:not(.sqs-block-html):not(.sqs-block-markdown) {
    clear: both;
}

.sqs-block {
    padding-left: 17px;
    padding-right: 17px;
}

.sqs-block {
    position: relative;
    height: auto;
    padding-top: 17px;
    padding-bottom: 17px;
    outline: none;
    box-shadow: inset 0 0 0 1px rgba(128,128,128,0);
    -webkit-transition: box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
}

.good-vibes-only{
  float: right;
  /*border-radius: 1em;*/
  /*margin-right: 4px;*/
  /*position: relative;
  top:6px;
  height: 40em;*/
  display: block; /* look this up */
  /*margin: 0 auto; /* look this up */*/
}

.pink-phone-pic{
  float: right;
  border-radius: 1em;
  margin-right: 4px;
  position: relative;
  top:6px;
  height: 40em;

}


.slay{
  height: 40em;
  width: 30em;
}

.landing-page-create-quote{
  background-image: url('../backgrounds/seamless/3.png')
}
