
.bg{
  /* The image used */
    background-image: url("https://envato-shoebox-0.imgix.net/9421/07cf-60cf-42b2-a6ef-b439a38bd9db/IMG_1296.jpg?w=1400&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalpha=18&markalign=center%2Cmiddle&auto=compress%2Cformat&s=19a26eb5e54c39d025cd98b81daa3b00");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;

}


.frame{
  border: 10px solid #FFC0B4;
  padding: 10px;
}

.panel-default{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.landing-page-button{
  float: right;
}

.landing-page-create-quote{
  background-image: url('../backgrounds/seamless/3.png')

}



.landing-page-sassy h2{
  text-align: center;
  color: #FFC0B4;
}

.sassy-caption-landing-page{
  text-align: right;
  word-wrap: break-word;
}

.selfie-girls{
  display: auto;
  margin-left: auto;
  margin-right: auto
  width: 40em;
  height: 43em;
  position: absolute;
}
