<div ng-class="comments-section-div">

  <section>
    <span>Write Comment Here:</span>
    <br>
    <textarea class="comments-textarea" ng-model="$ctrl.newCommentContent"></textarea>
    <br>
    <button class="submit-button" ng-click="$ctrl.addComment()">Submit</button>
  </section>

  <section>

    <br>
    <br>
    <br>

    <section class="comments-container">
      <section class="generic-comments-styling" ng-repeat="comment in $ctrl.comments">
        <div>Sassy Comments:</div>
        <div>{{comment.content}}</div>
        <br>
      </section>
    </section>
  </section>

</div>
