
<nav row class="navbar navbar-default" role="navigation">
  <div class="navbar-header col-xs-12">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><h4><a href="/">Sassy Captions</a></h4></li>
    </ul>
    <ul class="nav navbar-nav navbar-center">
        <li><a href="quotes">All Quotes</a></li>
        <li><a href="newquote">Create Quotes</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</nav>

<div class="landing-page-introduction">
  <div class="landing-page-sassy">
    <h2>Sassy Quotes</h2>
  </div>
</div>

<br>
<br>

<div class="col-xs-6">
  <img class="selfie-girls frame" src="https://envato-shoebox-0.imgix.net/9421/07cf-60cf-42b2-a6ef-b439a38bd9db/IMG_1296.jpg?w=1400&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalpha=18&markalign=center%2Cmiddle&auto=compress%2Cformat&s=19a26eb5e54c39d025cd98b81daa3b00">
</div>

<div class="sassy-caption-landing-page">
  <h2>Match your favorite photo with a sassy caption</h2>
  <h3>Increase your loves, likes and swipes with an original caption.</h3>
</div>

<div class="landing-page-button">
<button type="button" class="btn btn--primary"><a href="/quotes">All Quotes</a></button>
<button type="button" class="btn btn--primary"><a href="newquote">Create Quotes</a></button>
</div>








<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<!-- footer -->
  <div class="panel-default">
  <!-- <div class="panel-body"> -->
  </div>
  <!-- <div class="panel-footer">Contact Us</div> -->
</div>
