
<nav row class="navbar navbar-default" role="navigation">
  <div class="navbar-header col-xs-12">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><h4><a href="#">Sassy Captions</a></h4></li>
    </ul>
    <ul class="nav navbar-nav navbar-center">
        <li><a href="quotes">All Quotes</a></li>
        <li><a href="newquote">Create Quotes</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</nav>

<div class="landing-page-introduction">
  <div class="landing-page-sassy">
    <h2>Sassy Quotes</h2>
  </div>

</div>

<div class="col-xs-6">
  <img class="concert-girls frame" src="https://s-media-cache-ak0.pinimg.com/564x/79/44/9e/79449edbb66e1201f944d3a7b4d5652a.jpg">
</div>

<div class="">
  <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu.</h1>
</div>

<br> 

<div class="create-quote-link">
  <h2>feeling sassy?</h2>
  <a href="/newquote"><h3>Create Quote</h3></a>
</div>





<!-- <div class="create-sassy-captions"> -->
  <!-- class="landing-page-create-quote" -->
<!-- <h1>Feeling Sassy?</h1>
<button type="button" class="btn btn-secondary btn-lg"><a href="/newquote">Create A Quote</a></button>
</div> -->




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<!-- footer -->
 <div class="panel-default">
  <div class="panel-body">
  </div>
  <div class="panel-footer">Contact Us</div>
</div>
